[submodule "vim/.vim/bundle/slime"]
	path = vim/.vim/bundle/slime
	url = https://github.com/jpalardy/vim-slime
[submodule "vim/.vim/bundle/filetype-nix"]
	path = vim/.vim/bundle/filetype-nix
	url = https://github.com/LnL7/vim-nix
[submodule "vim/.vim/bundle/sleuth"]
	path = vim/.vim/bundle/sleuth
	url = https://github.com/tpope/vim-sleuth
[submodule "vim/.vim/bundle/fugitive"]
	path = vim/.vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/.vim/bundle/eunuch"]
	path = vim/.vim/bundle/eunuch
	url = https://github.com/tpope/vim-eunuch
