[submodule "vim/bundle/pathogen"]
	path = vim/bundle/pathogen
    url = https://github.com/tpope/vim-pathogen
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
    url = https://github.com/tpope/vim-fugitive
[submodule "vim/bundle/commentary"]
	path = vim/bundle/commentary
    url = https://github.com/tpope/vim-commentary
[submodule "vim/bundle/eunuch"]
	path = vim/bundle/eunuch
    url = https://github.com/tpope/vim-eunuch
[submodule "vim/bundle/vinegar"]
	path = vim/bundle/vinegar
    url = https://github.com/tpope/vim-vinegar
[submodule "vim/bundle/sleuth"]
	path = vim/bundle/sleuth
    url = https://github.com/tpope/vim-sleuth
[submodule "vim/bundle/endwise"]
	path = vim/bundle/endwise
    url = https://github.com/tpope/vim-endwise
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
    url = https://github.com/majutsushi/tagbar
[submodule "vim/bundle/pencil"]
	path = vim/bundle/pencil
    url = https://github.com/reedes/vim-pencil
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = https://github.com/garbas/vim-snipmate
[submodule "vim/bundle/snipmate-tlib"]
	path = vim/bundle/snipmate-tlib
	url = https://github.com/tomtom/tlib_vim
[submodule "vim/bundle/snipmate-addon-mw-utils"]
	path = vim/bundle/snipmate-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils
[submodule "vim/bundle/filetype-nix"]
	path = vim/bundle/filetype-nix
	url = https://github.com/LnL7/vim-nix
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab
